script(src='https://unpkg.com/three@0.140.2/build/three.min.js' defer)
script(src='https://unpkg.com/three@0.137.4/examples/js/controls/OrbitControls.js' defer)
script(src='https://unpkg.com/three@0.137.4/examples/js/loaders/GLTFLoader.js' defer)
script(src='./assets/js/three.js' defer)
